<div class="intro_container">
    <div class="intro_title">Intro</div>
    <div class="add_bio intro_button">Add Bio</div>
    <div class="user_info studies">Studies at: </div>
    <div class="user_info studied">Studied at:</div>
    <div class="user_info relationship status">Single</div>
    <div class="edit_details intro_button">Edit Details</div>
    <div class="add_hobbies intro_button">Add hobbies</div>
    <div class="add_featured intro_button">Add featured</div>
</div>