<div class="index_central_posts_container grey">

            <div class="new_post_form_container homepage">
                <div class="post_edit search">
                    <div class="new_post_search">
                        <%= link_to "What's on your mind, #{@user_first_name}?", new_post_path %>
                    </div>
                </div>
            </div>

            <div class="index_posts">
                <%=render "post"%>
            </div>

</div>
