    
 <div class="index_container">   
   
    <div class="index_main_page_container">
       
        <%=render "users/index_left_bar"%>


        <%if @users_found%>
            <%=render "users/user_search_results"%>
        <%else%> 

            <%= render "users/timeline"%>
        <%end%>
        
        
        <%= render "/users/users_friends_bar"%>
            
    </div>
</div>