.forgot_password_container{
    background-color: #f0f2f5;
    height:100vh;
    margin-top:-8px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset_actions > input {
    background-color:#1877F2;
    color:white;
    border:none;
    padding:10px;
    height:45px;
    width:350px;
    /* font-size:1.3rem; */
    font-weight:700;
    border-radius: 7px;
    margin-top:15px;
    margin-bottom:15px;
    
}



.sign_up, .sign_up:visited{
    color:#1877F2;
}


