/* # fix header shrinkigng */

.index_top_bar_container{
    background-color: white;
    height:70px;
    width:100vh;
    /* display:flex; */
    /* justify-content: space-around; */
    display:grid;
    /* grid-template-columns: minmax(30vw, 40vw) minmax(60vw,) minmax(200px,800px); */
    grid-template-columns: 15vw 70vw 15vw;
    }



.name_search {
    display:flex;
    /* justify-content: center; */
    align-items: center;
    width:480px;
    
}

.name_search_container{
    display:flex;
    justify-content: center;
    align-items: center;
}

.logout{
    display:flex;
    justify-content: center;
    align-items: center;
}

.name_search{
    /* gap:20px; */
}

.name_search_form {
    height:50px;
    width:380px;
    background-color: #f0f2f5;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.name_search_form:hover{
    background-color: #b6b6b8;

}


.name_search_input > input[type="text"] {
    height:30px;
    width:300px;
    border:none;
    background-color: #f0f2f5;
    margin-left:30px;
    font-size:1.1rem;
    padding:10px;
    
}

.name_search_input > input[type="text"]:hover {
    background-color: #b6b6b8;
}



.name_search_submit > input {
    margin-left:40px;
    background-color:#1877F2 ;
    border-radius: 7px;
    color:white;
    border:none;
    padding:7px;
    height:35px;
    width:60px;    
}

.name_search_submit > input:hover {
    background-color:#175dba ;
  
}

.logout{
    /* margin-right:-800px; */
    
}

.logout > form >  button {
    background-color: ;
}

.onibook_header > a, .onibook_header > a:visited{
    text-decoration: none;
    color: #1877F2; 
    font-size: 3rem;
    font-weight:800;
    
}

.onibook_header{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.signed_out_header{
    background-color: #f0f2f5;
    width:198vh;
}