

.individual_friend_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height:300px; */
    margin-bottom:-70px;
    height:200px;
    width:140px;
    /* background-color: red; */
    /* gap:20px; */
}

.individual_friend_container > div > img {
    width:100px;
}



.show_friends_grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    margin-top:-20px;
    /* margin-left:-25px; */

}

#show_friends_container {
 background-color: white;
 min-height:500px;
 padding:15px;
}

.user_friends_name{
    font-weight:800;
}
