.index_post {
    height:400px;
    width:700px;
    background-color: white;
}



.index_post_container {
    height:fit-content;
    width:600px;
    background-color: white;
    margin-top:20px;
    padding:20px;

}

.index_post_name > img {
    width:45px;
}

.index_post_name{
    font-weight:700;
    font-size:1rem;
    display: flex;
    align-items: center;
    gap:10px;
}

.index_post_info {
    margin-top:50px;
    /* height:150px; */
    height:5rem;
    overflow-x: auto;
    word-wrap:break-word;
    width:600px;
}

.created_at {
    font-size:0.8rem;
    font-weight:100;
    color:rgb(80, 80, 80);
    margin-top:3px;
}

.post_interactions_container{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.post_interactions_container > div {
    color:rgb(114, 113, 113);
    font-weight:700;

}

.post_like > form > input[type="submit"] {
    border:none;
    font-size:1rem;
    background-color: white;
    color:rgb(114, 113, 113);
    font-weight:700;

}

.post_like > form > input[type="submit"]:hover {
    background-color: rgb(197, 193, 193);
}


.post_like.unlike > form > button{
    border:none;
    background-color: white;
    color:#1877F2;
    font-weight:700;
    font-size:1rem;

}

.write_comment_outer_container > img {
    width:30px;
    margin-right:15px;
}

.write_comment_outer_container{
    display: flex;
    /* background-color: red; */
    align-items: center;
    gap:2px;
}

.write_comment_container > input[type="text"] {
    width:470px;
}

.separating_line{
    background-color: rgb(197, 193, 193);
    height:1px;
    width:100%;
    margin-bottom:15px;
    margin-top:15px;

}

.commenter_info_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:#f0f2f5;
    height:50px;
    width:200px;
    border-radius: 10px;
    padding:5px;
    
}

.commenter_photo > img {
    height:35px;
}

.individual_comment {
    display:flex;
    gap:15px;
    margin-top:10px;

}

.post_list_comments {
    overflow-x:auto;
    height:130px;
   
    /* background-color: red; */
}

.post_counters {
    display:flex;
    justify-content: space-around;
    gap:460px;
    margin-top:10px;
    margin-bottom: 10px;
}

.post_counters > div {
    color:rgb(114, 113, 113);   

}

.index_post_edit {
    margin-left:500px;
    margin-top:-50px;
    /* width:80px; */
    /* background-color: red; */
}

.post_details > div > a, .post_details > div > a:visited, .index_current_friends_name > a, .index_current_friends_name >a:visited, .friend_request_individual_container > div > a, .friend_request_individual_container > div >a:visited, .commenter_name >a, .commenter_name > a:visited {
    text-decoration: none;
    color:black
}

.commenter_name {
    font-weight:700;
    margin-bottom:2px;
}

.new_post_search{
    height:50px;
    width:600px;
    background-color: #f0f2f5;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

.new_post_search > a, .new_post_search > a:visited {
    color:#7d7d7d;
    text-decoration: none;
    margin-left:10px;
   
}

.post_edit.search{
    background-color: white;
    height:70px;
    width:600px;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

.new_post_form_container.homepage{
    height:5px;
}