body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.logo {
    color: #1877F2;
    font-weight:700;
    font-size:3rem;
    font-family:;
}

.new_user_container {
    background-color: #f0f2f5;
    height:100vh;
    margin-top:-8px;
}

.notice, .alert {
    display:inline;
    margin-top:50px;
}

.new_user_form{
    background-color: white;
    height:349px;
    width:396px;
    padding:13px;
}

.forgotten_password, .create_account {
    text-decoration: none;
}

.forgotten_password:visited, .create_account:visited {
    text-decoration: none;
}

.forgotten_password, .forgotten_password:visited{
    color:#1877F2;
}

.create_account, .create_account:visited{
    color:white;
    background-color: #42b72a;
    font-weight:600;
    font-size:1rem;
    padding:6px;
    height:35px;
    width:170px;
    border-radius: 6px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .user.links{
    background-color: red;
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
} */

.actions > input {
    background-color:#1877F2;
    color:white;
    border:none;
    padding:10px;
    height:35px;
    width:390px;
    font-size:1.5rem;
}