.index_container{
   margin-top:15px;
}

.grey{
    background-color: #f0f2f5;
    box-shadow:inset 0px 3px  #d8dbdf87;
    /* background-color: red; */
}

.index_main_page_container{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr;
 
}


.index_main_page_container{
    height:100vh;
}





.index_right_friends_bar > div{
    margin-top:20px;
}
