.index_current_friends_logo > img {
    height:45px;
}

.index_current_friends_container{
    display: flex;
    align-items: center;
    width:250px;
}

.index_friends_list_container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    overflow-y: auto;
    height:600px;
    background-color: red;

}

.friend_request_photo > img{
    height:45px;
}

.friend_request_individual_container{
    display:flex;
    align-items: center;
}

.accept_friend_request_form > button {
    

}